  <div class="card">
    <h5 class="<%= list.status %>">
      <%= link_to list.title, user_list_path(current_user, list) %>
    </h5>
    <ul>
      <%= render partial: "task", collection: list.tasks %>
    </ul>
    <% if list.due_date && list.status != "complete" %>
      <p class="<%= list.due_date < Date.today ? 'overdue' : '' %>">Due: <%= list.due_date.strftime("%m/%d/%Y") %></p>
    <% end %>
  </div>
