  <div class="card">
    <h5 class="<%= list.status %>">
      <%= link_to list.title, user_list_path(current_user, list) %>
    </h5>
    <ul>
      <%= render partial: "task", collection: list.tasks %>
    </ul>
    <!-- TODO: too much logic here, #41 -->
    <% if list.deadline && list.status != "complete" %>
      <p class="<%= list.overdue? ? 'overdue' : '' %>">Due: <%= print_due_date(list) %></p>
    <% end %>
  </div>
