<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
  <%= content_tag :div, class: "wrapper" do %>
    <%= render 'layouts/navbar' %>

    <%= content_tag :div, class: "container" do %>
      <%= yield %>
    <% end %>
  <% end %>
</body>
</html>
