<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
  <%= content_tag :div, class: "wrapper" do %>
    <%= render 'layouts/navbar' %>

    <%= content_tag :div, class: "container" do %>
      <%= render 'layouts/flash' %>
      <%= yield %>
    <% end %>
    <% if current_page?(user_lists_path(current_user)) %>
      <%= content_tag :div, class: "container" do %>
        <%= render 'layouts/footer' %>
      <% end %>
    <% end %>
  <% end %>
</body>
</html>
